.player {
  height: 460px;
  width: 300px;
  position: relative;
  background-image: url("../../../public/media/nba-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.player-card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  position: relative;
  top: 60px;
  width: 280px;
  height: 400px;
  background-color: #10e795;
  clip-path: polygon(
    30px 0,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    0 100%,
    0 30px
  );
}

.player-card {
  z-index: -1;
  width: 270px;
  height: 390px;
  background-image: linear-gradient(
      rgba(11, 3, 111, 0) 0%,
      rgba(11, 3, 111, 0) 70%,
      rgba(11, 3, 111, 0.44) 77%,
      rgba(11, 3, 111, 0.9) 100%
    ),
    url("../../../public/media/marble.png");
  clip-path: polygon(
    27px 0,
    100% 0,
    100% calc(100% - 37px),
    calc(100% - 37px) 100%,
    0 100%,
    0 27px
  );
}

.player-position {
  position: relative;
  top: 55px;
  left: 30px;
  width: 190px;
  height: 80px;
  padding-top: 10px;
  font-size: 1.75rem;
  font-family: "Anton", sans-serif;
  text-align: center;
  background-color: #e39b00;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281) inset;
}
