<a routerLink="/menu" class="menu">MENU</a>
<div class="players">
  <div class="players">
    <app-player-card
      *ngIf="showOption"
      position="POINT GUARD"
      listPosition="PG"
    >
    </app-player-card>
    <app-player-card-option *ngIf="!showOption"></app-player-card-option>
    <app-player-card
      position="SHOOTING GUARD"
      listPosition="SG"
    ></app-player-card>
    <app-player-card
      position="SMALL FORWARD"
      listPosition="SF"
    ></app-player-card>
    <app-player-card
      position="POWER FORWARD"
      listPosition="PF"
    ></app-player-card>
    <app-player-card position="CENTER" listPosition="C"></app-player-card>
  </div>
</div>
