<a routerLink="/menu" class="menu">MENU</a>
<div class="players">
  <div class="players">
    <app-player-card
      *ngIf="!playerSelected('POINT GUARD')"
      position="POINT GUARD"
      listPosition="AT-PG"
      (dataToDraft)="receiveData($event)"
    ></app-player-card>
    <app-player-card-option
      *ngIf="playerSelected('POINT GUARD')"
      [playerOverall]="this.selectedPG.overall"
      [playerName]="this.selectedPG.name"
      [playerPosition]="this.selectedPG.position"
      [playerImage]="this.selectedPG.image"
    ></app-player-card-option>

    <app-player-card
      *ngIf="!playerSelected('SHOOTING GUARD')"
      position="SHOOTING GUARD"
      listPosition="AT-SG"
      (dataToDraft)="receiveData($event)"
    ></app-player-card>
    <app-player-card-option
      *ngIf="playerSelected('SHOOTING GUARD')"
      [playerOverall]="this.selectedSG.overall"
      [playerName]="this.selectedSG.name"
      [playerPosition]="this.selectedSG.position"
      [playerImage]="this.selectedSG.image"
    ></app-player-card-option>

    <app-player-card
      *ngIf="!playerSelected('SMALL FORWARD')"
      position="SMALL FORWARD"
      listPosition="AT-SF"
      (dataToDraft)="receiveData($event)"
    ></app-player-card>
    <app-player-card-option
      *ngIf="playerSelected('SMALL FORWARD')"
      [playerOverall]="this.selectedSF.overall"
      [playerName]="this.selectedSF.name"
      [playerPosition]="this.selectedSF.position"
      [playerImage]="this.selectedSF.image"
    ></app-player-card-option>

    <app-player-card
      *ngIf="!playerSelected('POWER FORWARD')"
      position="POWER FORWARD"
      listPosition="AT-PF"
      (dataToDraft)="receiveData($event)"
    ></app-player-card>
    <app-player-card-option
      *ngIf="playerSelected('POWER FORWARD')"
      [playerOverall]="this.selectedPF.overall"
      [playerName]="this.selectedPF.name"
      [playerPosition]="this.selectedPF.position"
      [playerImage]="this.selectedPF.image"
    ></app-player-card-option>

    <app-player-card
      *ngIf="!playerSelected('CENTER')"
      position="CENTER"
      listPosition="AT-C"
      (dataToDraft)="receiveData($event)"
    ></app-player-card>
    <app-player-card-option
      *ngIf="playerSelected('CENTER')"
      [playerOverall]="this.selectedC.overall"
      [playerName]="this.selectedC.name"
      [playerPosition]="this.selectedC.position"
      [playerImage]="this.selectedC.image"
    ></app-player-card-option>
  </div>
</div>
